*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #222F3F;
}

header img{
    width: 100px;
    margin: 0.5rem 2rem;
}

header nav{
    background-color: #35475B;
    padding: 0.5rem 2rem;
}

header a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

main{
    background-color: #E9EDEE;
    margin: 2rem 2rem 0rem 2rem;
}

/* #container{
    width: 100%;
} */

.sezione-testo{
    text-align: center;
    color: white;
}

#orange{
    margin-bottom: 2rem;
    background-color: #FB6300;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#bg-holiday{
    margin-bottom: 2rem;
    padding-top: 3.2rem;
    padding-bottom: 2.2rem;
    background-image: url('../assets/images/bg-image.png');
    background-position: center;
}

#bg-holiday p{
    font-weight: bold;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}


#perfect-gift{
    padding: 0.8rem 1rem;
    background-color: white;
}

.titoli{
    display: inline-block;
    margin-right: 0.9rem;
}

.link-azzurro{
    text-decoration: none;
    color: #176775;
    font-weight: bold;
    font-size: 0.85rem;
}

#cards{
    display: flex;
    margin: 0.8rem 0rem;
    height: 400px;
}

#gift1{
    background-image: url(../assets/images/img_1.jpg);
    height: 400px;
}
#gift2{
    background-image: url(../assets/images/img_2.jpg);
    height: 400px;
}
#gift3{
    background-image: url(../assets/images/img_3.jpg);
    height: 400px;
}
#gift4{
    background-image: url(../assets/images/img_4.jpg);
    height: 400px;
}

/* 
#cards img{
    object-fit: cover;
    height: 520px;
    border-radius: 5%;
} */

.categoria{
    margin-bottom: 2rem;
    text-align: center;
}

.categoria img{
    width: 100%;
    object-fit: contain;
}

footer{
    background-color: #222F3F;
    text-align: center;
}

footer div{
    background-color: #364759;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a{
    color: white;
    font-weight: bold;
}

footer img{
    width: 200px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}