<h1 class="mb-3">Post principale</h1>
<div class="card" *ngIf="postsCollection.length > 0">
  <h5 class="card-header">{{ postsCollection[getRandom()].title }}</h5>
  <div class="card-body">
    <p class="card-text">{{ postsCollection[random].body }}</p>
  </div>
</div>

<h1 class="mb-3 mt-5">Post che potrebbero piacerti</h1>
<div class="row g-3">
  <div *ngFor="let post of randomPostsCollection" class="col-3">
    <div class="card">
      <h5 class="card-header">{{ post.title }}</h5>
      <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>
