<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3 mb-4 border-bottom">

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="films-list" class="nav-link px-2">Films</a></li>
    <li><a routerLink="profile" class="nav-link px-2">Profilo</a></li>
    <li><a routerLink="users" class="nav-link px-2">Utenti</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a routerLink="login" class="btn btn-outline-primary me-2">Login</a>
    <a routerLink="/" class="btn btn-primary">Registrati</a>
  </div>
</header>
