<h1 class="text-center">Registrati</h1>

<form>

  <input type="text" name="firstName"
  [(ngModel)]="registerData.firstName"
  class="form-control mb-1" placeholder="Nome">

  <input type="text" name="lastName"
  [(ngModel)]="registerData.lastName"
  class="form-control mb-1" placeholder="Cognome">

  <input type="email" name="email"
  [(ngModel)]="registerData.email"
  class="form-control mb-1" placeholder="Email">

  <input type="password" name="password"
  [(ngModel)]="registerData.password"
  class="form-control" placeholder="Password">

  <button (click)="signUp()" class="btn btn-success mt-3">Registrati</button>

</form>

