/* Your styles here */
/* 
Font
Body: #393d41 – 1.2rem – Open Sans – interlinea 1.65
font-family: 'Open Sans', sans-serif;
Headings: #25a2c3 – Montserrat (bold) – interlinea 1.5
Footer: #c8e7f0
Footer Heading: white
Footer link: #c8e7f0

Colori sfondo
Header: black
Pulsante: #f04c2f – Montserrat (bold) – bold
font-family: 'Montserrat', sans-serif;
Testimonianze: #e22d0e
Footer: #25a2c3

Bordi
Bordo schede: #dee1e3
*/

/* generale */

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
}

/* header */

header{
    text-align: left;
    background-color: black;
    padding: 2rem 4rem;
}

header img{
    width: 200px;
}

/* main */

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1;
}

h1{
    font-size: 2rem;
}


#main-title{
    background-image: url(../images/banner.jpg);
    background-repeat: none;
    background-size: 100%;
    padding: 10rem 20rem 10rem 20rem;
}

#main-title p{
    margin: 1rem 0 2.5rem 0;
}

#main-title a{
    background-color: #f04c2f;
    border-radius: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
}

.margin-section{
    margin: 4rem 1.5rem;
}

.margin-section h3{
    margin-bottom: 1rem;
}

.margin-section p{
    margin-bottom: 2.5rem;
}

.margin-section a{
    text-decoration: none;
    color: #393d41;
}

#vantaggi-section{
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
}

#img-vantaggi{
    width: 50%;
}

#vantaggi{
    text-align: left;
    width: 50%;
}

#img-vantaggi > img{
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

.bgcolor-section{
    color: white;
    padding: 3rem 2rem 2rem 2rem;
}

.bgcolor-section h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#orange{
    background-color: #e22d0e;
}

#p-italic{
    font-style: italic;
    margin-bottom: 2rem;
    font-size: 1rem;
}

#p-ceo{
    font-size: 0.8rem;
}

/* aside */

#correlati-section{
    display: flex;
    padding-left: 7rem;
    padding-right: 7rem;
}

.card{
    border: 1px solid #dee1e3;
    border-radius: 0.3rem;
    margin-bottom: 2.5rem;
    margin: 2rem 1rem;
}

.card-text{ 
    padding: 0 1rem;
}

/* footer */

footer{
    color: #c8e7f0;
    background-color: #25a2c3;
    padding-bottom: 3rem;
}

footer a{
    color: #c8e7f0;
}

footer p{
    color: #c8e7f0;
}

footer hr{
    border: 1px solid #c8e7f0;
    margin: 2rem 40%;
}



